appdirs 
contourpy 
cycler 
fonttools 
graphviz 
importlib-resources
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
numpy
packaging
Pillow
platformdirs
pycuda
pyparsing
python-dateutil
pytools
six
typing_extensions
zipp
